.git
.github
.gitignore
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.env
.env.*
!.env.example
data/
tests/
*.md
!README.md
.pre-commit-config.yaml
docker-compose.yml
Dockerfile
Caddyfile
.dockerignore
